# requirements for the gridded package
# the goal is to have it work accross as wide a range of verions as possible

# requires python, but if you leve it out, it will use python already in
# the conda environment, rather than upgrading
# python>=2.7.*
numpy>=1.11.*
scipy
netcdf4
cell_tree2d


