# requirements for the gridded package
# the goal is to have it work across as wide a range of versions as possible
# these should all be available in the conda-forge channel

## core requirements to run gridded

# requires python, but if you leave it out, it will use python already in
# the conda environment, rather than upgrading
# python>=2.7.*
numpy>=1.13.*
scipy
netcdf4>=1.4.*
cell_tree2d
six

## extra stuff you'll want for development / testing / demoing
pytest
progressbar
matplotlib
jupyter
nb_conda_kernels
cartopy
sphinx
sphinx_rtd_theme

