# extra stuff you'll want for testing

# these should all be available in the conda-forge channel

# It is best to install these at the same time as the main requirements,
# so that conda doesn't downgrade anything else:

# conda install --file conda_requirements.txt --file conda_requirements_test.txt


# this is the minimal that will support travis tests
pytest
pytest-cov
progressbar
pandas


