# requirements for the gridded package
# the goal is to have it work across as wide a range of versions as possible

# requires python, but if you leave it out, it will use python already in
# the conda environment, rather than upgrading or downgrading
python>=3.9
numpy
scipy
netcdf4>=1.4
cell_tree2d>=0.3
cftime
dateutil
